FILESTORE_PG_DSN=postgres://filestore:filestore@127.0.0.1:15432/filestore?sslmode=disable
FILESTORE_REDIS_URL=redis://127.0.0.1:16379/0
FILESTORE_ADMIN_PASSWORD=changeme
FILESTORE_SESSION_SECRET=change-this-secret
FILESTORE_S3_ACCESS_KEY=filestore
FILESTORE_S3_SECRET_KEY=filestoresecret
OTEL_EXPORTER_OTLP_ENDPOINT=
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
